.product__wrapper {
    padding: 60px 0;
    background-color: var(--gray_6);
    overflow: visible;
}
.product__wrapper .container-medium {
    overflow: visible;
}

.breadcrumbs {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    color: var(--gray_-6);
    margin: 0 0 24px;
}
.breadcrumbs a {
    color: var(--gray_-6);
}

/* Основной контейнер карточки товара */
.product-card {
    position: relative;
    display: grid;
    grid-template-columns: 1fr 250px;
    min-height: 450px;
    gap: 64px;
}

/* Основной слайдер галереи */
.product-card .product-gallery-carousel .slick-list {
    overflow: visible;
}
.product-card .product-gallery-carousel .main-slider {
    width: 500px;
    position: relative;
}
.product-card .product-gallery-carousel .slick-track {
    height: 375px;
    margin: 0 0 36px;
    display: flex;
    align-items: center;
}

/* Активный слайд */
.product-card .product-gallery-carousel .slick-slide.slick-current {
    aspect-ratio: 4 / 3;
    overflow: hidden;
    position: relative;
    width: 500px;
    transition: transform 0.4s ease, width 0.4s ease;
}
.product-card .product-gallery-carousel .slick-slide.slick-current figure {
    width: auto !important;
    height: 100%;
}
.product-card .product-gallery-carousel .slick-slide.slick-current > div {
    width: auto;
}
.product-card .product-gallery-carousel .slick-slide.slick-current::after {
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(255, 255, 255, 0);
    pointer-events: none;
    z-index: 1;
}

/* Обычный слайд */
.product-card .product-gallery-carousel img {
    aspect-ratio: 4 / 3;
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}
.product-card .product-gallery-carousel .slick-slide {
    aspect-ratio: 4 / 3;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    overflow: hidden;
    position: relative;
    width: 500px;
    transition: transform 0.4s ease, width 0.4s ease;
    background-color: var(--gray_6);
}
.product-card .product-gallery-carousel .slick-slide > div {
    width: 350px;
}
.product-card .product-gallery-carousel .slick-slide::after {
    transform: translate(21.5%, 21%);
    height: 262px;
    width: 350px;
    left: 20%;
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.250); 
    pointer-events: none;
    z-index: 1;
}

/* Стрелки навигации */
.product-card .slick-arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 2;
    width: 56px;
    height: 56px;
    background-color: var(--gray_3);
    border: 2px solid var(--gray_1);
    border-radius: 6px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.3s;
}
.product-card .slick-arrow:hover {
    background-color: var(--gray_2);
}
.product-card .slick-arrow.slick-disabled {
    background-color: var(--gray_1);
}
/* Стрелка влево */
.product-card .slick-arrow.slick-prev::before {
    content: '';
    display: inline-block;
    width: 10px;
    height: 10px;
    border-left: 2px solid var(--gray_-5);
    border-bottom: 2px solid var(--gray_-5);
    transform: rotate(45deg);
}
/* Стрелка вправо */
.product-card .slick-arrow.slick-next::before {
    content: '';
    display: inline-block;
    width: 10px;
    height: 10px;
    border-right: 2px solid var(--gray_-5);
    border-top: 2px solid var(--gray_-5);
    transform: rotate(45deg);
}
.product-card .slick-arrow.slick-prev {
    left: -28px;
    padding: 0 0 0 4px;
}
.product-card .slick-arrow.slick-next {
    right: -28px;
    padding: 0 4px 0 0;
}

/* Боковая панель товара */
.product-sidebar {
    width: 250px;
    display: flex;
    flex-direction: column;
    gap: 16px;
    position: absolute;
    top: 0;
    right: 0;
    padding: 16px;
    border-radius: 6px;
    border: 2px solid var(--gray_1);
    background-color: var(--gray_3);
}
.product-sidebar .author {
    display: flex;
    align-items: center;
    gap: 16px;
}
.product-sidebar .author .author-avatar {
    width: 44px;
    height: 44px;
    border-radius: 50%;
    border: 1px solid var(--orange_0);
    overflow: hidden;
}
.product-sidebar .author .author-avatar img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.product-sidebar .author .author-profile {
    display: flex;
    flex-direction: column;
    gap: 4px;
}
.product-sidebar .author span {
    font-size: 13px;
    line-height: normal;
    color: var(--gray_-6);
}
.product-sidebar .details {
    display: flex;
    flex-direction: column;
    gap: 4px;
}
.product-sidebar .details .item {
    font-size: 13px;
    line-height: normal;
    color: var(--gray_-6);
}
.product-sidebar .actions {
    display: flex;
    flex-direction: column;
    gap: 8px;
}
.product-sidebar .actions .button {
    width: 100%;
}
.product-sidebar .author-region .item {
    line-height: normal;
    color: var(--gray_-6);
}
.product-sidebar .author-region .item strong {
    color: var(--gray_-2);
}
.product-sidebar .price {
    flex-wrap: wrap;
}
.product-sidebar .price div {
    display: flex;
    gap: 8px;
}

/* Контент и цена */
.product-card .content {
    margin: 0 0 64px;
}
.product-card .price {
    display: flex;
    align-items: center;
    gap: 8px;
    line-height: auto;
}
.product-card .price div {
    display: flex;
    gap: 8px;
}
.product-card .price p {
    color: var(--gray_0);
}
.product-card .price b {
    color: var(--gray_-5);
}
.product-card__title {
    margin: 0 0 36px;
}


/* ркдактор поста */
.product-create,
.product-edit {
    display: grid;
    grid-template-columns: 5fr 1fr;
    gap: 24px;
}
.form-progress-bar {

}
.product-create h3,
.product-edit h3 {
    margin: 0 0 16px;
}
.product-create form,
.product-edit form {
    display: flex;
    flex-direction: column;
    gap: 24px;
}
.product-create .form-group,
.product-edit .form-group {
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 24px;
    border: 1px solid var(--gray_3);
    background-color: var(--gray_5);
    border-radius: 4px;
    margin: 0 0;
}
.product-create .form-group.tabs,
.product-edit .form-group.tabs {
    margin: 32px 0 0;
}
.product-create .translation-block,
.product-edit .translation-block {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 8px;
}
.product-create .title-translations,
.product-edit .title-translations {
    display: flex;
    gap: 24px;
}
.product-create .description-translations,
.product-edit .description-translations {
    display: flex;
    gap: 24px;
}
.product-create .category-selectors,
.product-edit .category-selectors {
    min-height: 40px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 24px;
}
.product-create .tab-buttons,
.product-edit .tab-buttons {
    display: flex;
    gap: 8px;
    margin: -56px 0 24px;
}
.product-create .tab-btn,
.product-edit .tab-btn {
    color: var(--gray_-6);
    background-color: var(--gray_4);
    line-height: 80%;
    padding: 8px 16px 10px;
    border-radius: 4px 4px 0 0;
    border: 1px solid var(--gray_3);
    transition: background-color 0.3s, color 0.3s, border 0.3s;
    user-select: none;
    cursor: pointer;
}
.product-create .tab-btn.active,
.product-edit .tab-btn.active {
    color: var(--orange_0);
    background-color: var(--gray_5);
    border-bottom: 1px solid var(--gray_5);
}
.product-create .tab-content,
.product-edit .tab-content {
    display: none;
}
.product-create .tab-content h4,
.product-edit .tab-content h4 {
    margin: 0 0 8px;
}
.product-create .tab-content input,
.product-edit .tab-content input {
    margin: 0 0 24px;
}
.product-create .tab-content.active,
.product-edit .tab-content.active {
    display: block;
}
.product-create .category-select-wrapper,
.product-edit .category-select-wrapper {
    display: flex;
    flex-direction: column;
    gap: 8px;
}
.product-create #preselected-categories,
.product-edit #preselected-categories {
    display: none;
}
.product-create .gallery-preview,
.product-edit .gallery-preview {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    gap: 24px;
}
.product-create .gallery-item,
.product-edit .gallery-item {
    aspect-ratio: 4 / 3;
    overflow: hidden;
    display: flex;
    position: relative;
}
.product-create .gallery-item,
.product-edit .gallery-item {
    aspect-ratio: 4 / 3;
    overflow: hidden;
    object-fit: contain;
}
.product-create .gallery-item img,
.product-edit .gallery-item img {
    width: 100%;
    height: auto;
}
.product-create .gallery-remove,
.product-edit .gallery-remove {
    position: absolute;
    cursor: pointer;
    width: 24px;
    height: 24px;
    top: 0;
    right: 0;
    background-color: var(--gray_5);
    border-radius: 0 0 0 4px;
}

.form-progress {
    height: 100%;
    position: relative;
}
.form-progress__steps {
    top: 70px;
    margin: 70px 0 0;
    position: sticky;
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 24px;
    border: 1px solid var(--gray_3);
    background-color: var(--gray_5);
    color: var(--gray_-5);
    border-radius: 4px;
}
.form-progress__step {
    display: flex;
    align-items: center;
    gap: 8px;
}
.form-progress__step .form-progress__circle {
    display: block;
    box-sizing: border-box;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    border: 3px solid var(--gray_1);
    transition: background-color 0.3s, ;
}
.form-progress__step.filled .form-progress__circle {
    background-color: var(--green_0);
    border: 2px solid var(--gray_0);
}
